@use "variaveis";

%posicionamento-flexivel {
    display: flex;
    align-items: center;
}

%tamanho-display-imagens-aside {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
}

%container-informacoes{
    border-radius: 28px;
    background: variaveis.$cor-cinza-fundo;
    padding: 17px;
    width: 100%;

    h3 {
        color: variaveis.$cor-preta;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-left: 20px;
    }
}